<section class="home_banner_area bg-img" style="background-image: url('/image/health1.jpg'); box-shadow:inset 0 0 0 2000px rgba(93, 173, 226  ,0.5);">
    <div class="banner_inner">
        <div class="container">
            <div class="banner_content">
                <h2>
                    We care for your <br>
                    HEALTH every moment.<br>
                     -- IIITDMJ PHC <br>
                </h2>
                <p>
                    PPDM Indian Institute of Information Technology Design & Manufacturing Jabalpur Dumna Road 482005.<br>
                    <span class="glyphicon glyphicon-earphone"></span> Phone : 0761-2794187<br>
                    <span class="glyphicon glyphicon-envelope"></span> Email : phc@iiitdmj.ac.in
                </p>
                <a class="primary-btn text-uppercase" href="https://www.google.com/maps/place/Primary+Health+Centre+-+IIITDM+Jabalpur/@23.1766995,80.025704,18z/data=!4m8!1m2!2m1!1siiit+jabalpur!3m4!1s0x3981a943ae10e19f:0xb9e4fc53fd595f1e!8m2!3d23.1759579!4d80.0279331" target="blank"><span class="glyphicon glyphicon-map-marker"></span> See Map</a>
            </div>
        </div>
    </div>
</section>
<hr>
<!--================ End Home Banner Area =================-->
<!--================ Start About Area =================-->
<section class="about_area lite_bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="about_details lite_bg">
                    <h2>Welcome to IIITDM PHC <i class="fa fa-hospital-o" aria-hidden="true"></i></h2>
                    <p> Medical Committee</p>
                    <ul class="list_wrap">
                        <li class="about_lists"><div class="row"><div class="col-sm-7 col-xs-7">Dr. Prashant Kumar Jain </div><div class="col-sm-5 col-xs-5">Faculty In-charge, PHC</div></div> </li>
                        <li class="about_lists"><div class="row"><div class="col-sm-7 col-xs-7">Dr. Vinod Kumar Jain</div><div class="col-sm-5 col-xs-5">Member</div></div></li>
                        <li class="about_lists"><div class="row"><div class="col-sm-7 col-xs-7">Dr. Deepmala </div><div class="col-sm-5 col-xs-5">Member</div></div></li>
                         <li class="about_lists"><div class="row"><div class="col-sm-7 col-xs-7">Md. Rizwan Ahmad</div><div class="col-sm-5 col-xs-5">Member</div></div></li>
                         <li class="about_lists"><div class="row"><div class="col-sm-7 col-xs-7">Mr. Anil Kumar</div><div class="col-sm-5 col-xs-5">Junior Superintendent</div></div> </li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
           
            <div class="col-lg-1 col-md-1  "></div>
                <div class="about_right overlay col-lg-6 col-md-6 col-sm-12 col-xs-12"   style="widows: 100%">
                    <div class="about_inner">
                        <center> <h4><i class="fa fa-calendar" aria-hidden="true"></i> Doctors Time table</h4><hr></center>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12" style="border: 1px solid #fff">
                                <center><h5 style="color: #fff"><i class="fa fa-user-md"></i>  Dr. G S Sandhu</h5></center>
                                <p>Mon to Sat -- 04:00pm-05:30pm</p>
                            </div>
                            <div class="col-sm-6 col-xs-12" style="border: 1px solid #fff">
                                <center><h5 style="color: #fff"><i class="fa fa-user-md"></i>  Dr. Jyoti Garg</h5></center>
                                <p>Mon to Sat -- 8.30 AM to 10.00 AM</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12" style="border: 1px solid #fff"> 
                                <center><h5 style="color: #fff"><i class="fa fa-user-md"></i>  Dr. Arvind Nath Gupta</h5></center>
                                <ul class="list_wrap" >
                                    <li class="about_lists">Monday -- 2.00 PM to 4.00 PM</li>
                                    <li class="about_lists">Friday -- 2.00 PM to 4.00 PM</li>
                                    <li class="about_lists">Sunday -- 2.00 PM to 4.00 PM</li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-xs-12" style="border: 1px solid #fff"> 
                                <center><h5 style="color: #fff"> <i class="fa fa-user-md"></i>  Dr. Niharika Gupta</h5></center>
                                <ul class="list_wrap" >
                                    <li class="about_lists">Monday -- 3.00 PM to 5.00 PM</li>
                                    <li class="about_lists">Wed -- 2.00 PM to 4.00 PM</li>
                                    <li class="about_lists">Friday -- 2.00 PM to 4.00 PM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_bg overlay"></div>
    </div>
</section>
<br>
<br>
<!--================ End About Area =================-->
<!--================ Start Features Area =================-->
<section class="features_area ">
    <div class="container">
        <div class="row">
            <div class="main_title">
                <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> IIITDMJ PHC Guidelines</h2>
                 <h4>New Guidelines 12-12-2017</h4>
            </div>
            <!-- single feature -->
            <div class="col-lg-4 col-md-6" >
                <div class="single_feature" style="border: 0.1px solid #CCD1D1">
                    <div class="feature_head">
                        <img src="/image/features/icon1.png" alt="">
                        <h4>Emergency Services</h4>
                    </div>
                    <div class="feature_content">
                        <p>Ambulance services can be used in case of medical emergency or under special circumstances where the movement of a person is difficult or unbearable pain without an ambulance. Hostel residents need to contact the Caretaker of respective Halls caretaker shall make a call to the PHC for the ambulance. Campus residents can call to PHC for ambulance service.</p>
                        <div class="feature_btn">
                            <p class="f_btn">PHC  : 0761- 279 4187  </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="single_feature" style="border: 0.1px solid #CCD1D1">
                    <div class="feature_head">
                        <img src="/image/features/icon2.png" alt="">
                        <h4>Ambulance Schedule</h4>
                    </div>
                    <div class="feature_content">
                        <p>It is responsibility of all to ensure that the ambulance is not kept waiting for more than
                            10-15 minutes so that other needy persons are not deprived of the service. Please remember that ambulance services are to help the campus residents in
                            emergency situation or in case of extreme difficulty. Any misuse of these services
                            may lead to a fine of Rs. 200/500 (inside/outside the campus respectively). The final
                            decision in this regard shall be taken by the Faculty In-charge, PHC.</p>
                        <div class="feature_btn">
                            <p class="f_btn">Ambulance No. : 9425805538 </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="single_feature" style="border: 0.1px solid #CCD1D1">
                    <div class="feature_head">
                        <img src="/image/features/icon3.png" alt="">
                        <h4>Online Appointment</h4>
                    </div>
                    <div class="feature_content">
                        <p>For emergency medical assistance, the campus residents may be referred to any
                            hospitals in city only after a health check-up at the Primary Health Center in our
                            campus. Decision to send ambulance outside the campus will be taken by Doctor /
                            Nursing Assistants on duty at PHC.
                            For non-emergency cases, if required, campus residents may send their vehicle
                            request (on payment basis) to AR (GA). </p>
                        <div class="feature_btn">
                            <p class="f_btn">Get Appointment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<!--================ End Features Area =================-->
<!--================ Start Team Area =================-->
<section class=" team_area" style="background-image: url('/image/photo3.png');background-repeat: no-repeat;box-shadow:inset 0 0 0 2000px rgba(93, 173, 226  ,0.5);" >
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="main_title">
                    <h2 style="color: white"><i class="fa fa-university" aria-hidden="true"></i> IIITDM PHC Administratioin </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-team-member -->
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                 <div class="row">
                       <!-- single-team-member -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single_member">
                        <div class="author">
                            <img src="/image/prashant.jpg" alt="" >
                        </div>

                            <div class="author_decs">
                                <h4>Dr. Prashant Kumar Jain</h4>
                                <p class="profession">Faculty In-charge, PHC</p>
                                 
                            </div>
                        </div>
                    </div>
                    <!-- single-team-member -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single_member">
                            <div class="author">
                                <img src="/image/anil1.jpg" alt="">
                    </div>
                                <div class="author_decs">
                                    <h4>Mr. Anil Kumar</h4>
                                    <p class="profession">Junior Superintendent</p>
                                     
                                </div>
                            </div>
                        </div>
                        <!-- single-team-member -->
                 </div>
            </div>   
        </div>
        <br>
        <br>
</section>

<!--================ End Team Area =================-->
<!--================ Start Team Area =================-->
<section class=" team_area lite_bg" >
    <br>
<br>
    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="main_title">
                    <h2><i class="fa fa-user-md" aria-hidden="true"></i> IIITDM PHC Doctors</h2>
                     <hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;border-color:#BFC9CA;">
                </div>
            </div>

        </div>
        <div class="row">
            <!-- single-team-member -->
             <div class="col-lg-3 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img src="/image/team/sandhu.jpg" alt="">
                    </div>
                        <div class="author_decs">
                            <h4>Dr. G S Sandhu</h4>
                            <p class="profession">Diabetes, Cardiology, Asthma</p>
                            <p><i class="fa fa-mobile" aria-hidden="true"></i> 9424778355</p>
                        </div>
                    </div>
                </div>
                <!-- single-team-member -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member">
                        <div class="author">
                            <img src="/image/team/Niharika.jpg" alt="">
                    </div>
                            <div class="author_decs">
                                <h4>Dr. Niharika Gupta</h4>
                                <p class="profession">Dentist</p>
                                <p><i class="fa fa-mobile" aria-hidden="true"></i> 9589210497</p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- single-team-member -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_member">
                            <div class="author">
                                <img src="/image/team/angupta.jpg" alt="">
                    </div>
                                <div class="author_decs">
                                    <h4>Dr. A N Gupta</h4>
                                    <p class="profession">MD, Paed</p>
                                    <p><i class="fa fa-mobile" aria-hidden="true"></i> 9425383515</p>
                                </div>
                            </div>
                        </div>
                        <!-- single-team-member -->
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_member">
                                <div class="author">
                                    <img src="/image/team/Jyoti.jpg" alt="">
                    </div>
                                    <div class="author_decs">
                                        <h4>Dr. Jyoti Garg</h4>
                                        <p class="profession">Maternal & Child Care</p>
                                        <p><i class="fa fa-mobile" aria-hidden="true"></i> 9893246670</p>
                                    </div>
                                </div>
                            </div>

        </div>
    </div>
</section>
<!--================ End Team Area =================-->
<!--================ Start Team Area =================-->
<section class="section_gap team_area lite_bg">
    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="main_title">
                    <h2><i class="fa fa-users" aria-hidden="true"></i> IIITDM PHC Nursing Staff</h2>
                     <hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;border-color:#BFC9CA;">
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-team-member -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img src="/image/team/Bagri.jpg" alt="">
                    </div>
                        <div class="author_decs">
                            <h4>Mr. K S Bagri</h4>
                            <p class="profession">Nursing Assistant</p>
                             <p><i class="fa fa-mobile" aria-hidden="true"></i> 9754653899</p>
                        </div>
                    </div>
                </div>
                <!-- single-team-member -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member">
                        <div class="author">
                            <img src="/image/team/Dharam.jpg" alt="">
                    </div>
                            <div class="author_decs">
                                <h4>Mr. Dharam Deo</h4>
                                <p class="profession">Nursing Assistant</p>
                                 <p><i class="fa fa-mobile" aria-hidden="true"></i> 9926717046</p>
                                 <br>
                            </div>
                        </div>
                    </div>
                    <!-- single-team-member -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_member">
                            <div class="author">
                                <img src="/image/team/blgupta.jpg" alt="">
                    </div>
                                <div class="author_decs">
                                    <h4>Mr. B.L. Gupta</h4>
                                    <p class="profession">Nursing Assistant</p>
                                     <p><i class="fa fa-mobile" aria-hidden="true"></i> 9425805538</p>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- single-team-member -->
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_member">
                                <div class="author">
                                    <img src="/image/team/Singh.jpg" alt="">
                    </div>
                                    <div class="author_decs">
                                        <h4>Mr. R B Singh</h4>
                                        <p class="profession">Nursing Assistant</p>
                                         <p><i class="fa fa-mobile" aria-hidden="true"></i> 8717827795</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</section>
<!--================ End Team Area =================-->

<!--================ Start Team Area =================-->
<section class=" team_area lite_bg" style=" margin-bottom: 0px;">
    <div class="container-fluid" style="background-color: #56baed">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="main_title">
                    <h2 style="color: white"><img src="/image/design1.png">
                            Design & Developed By</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-team-member -->
            <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12" style="margin-top: -5%;">
            	 
                <div class="single_member" >
                    <div class="author">
                        <img src="/image/team/anuj.jpg">
                    </div>
                        <div class="author_decs" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
                            <div class="social_icons">
                                <h4>
                                <a href="https://www.facebook.com/anuj.srivastava.71404" target="blank" style="color: #A569BD"><i class="fa fa-facebook"></i></a>
                                <a href="https://github.com/Anujsri" target="blank" style="color: #A569BD"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/anuj-srivastava-5ba457137/" target="blank" style="color: #A569BD"><i class="fa fa-linkedin"></i></a>
                            </h4>
                            </div>
                            <h4>Mr. Anuj Srivastava</h4>
                            <p class="profession">NodeJs || AngularJs || MongoDB || REST API</p>
                            <p>Computer Science & Engineering<br>
                                <i class="fa fa-envelope" aria-hidden="true"></i> anujsrivastava@iiitdmj.ac.in<br>
                                <i class="fa fa-mobile" aria-hidden="true"></i> 8827263684
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
</section>

<!--================ End Team Area =================-->
<!--================ Start footer Area  =================-->
<footer class="footer-area">
    <div class="footer-bottom" style="background-color: #1A5276;color:#B3B6B7  ">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="footer-social d-flex  ">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <center>
                                 Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                            </script> IIITDM JABALPUR
                            </center>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <center>
                                 <i class="fa fa-user"></i> Anuj Srivastava
                            <a href="https://www.facebook.com/anuj.srivastava.71404" target="blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/Anujsri" target="blank" ><i class="fa fa-github"></i></a>
                            <a  href="https://www.linkedin.com/in/anuj-srivastava-5ba457137/" target="blank"><i class="fa fa-linkedin"></i></a>
                            </center>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

  
