<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" id="fill-usertype" class="form-horizontal" action="/users/addusertypes/{{user._id}}">
                <select class="form-control" name="usertype">
                    <option value="Student">Student</option>
                    <option value="Faculy">Faculty</option>
                </select>
                <button class="btn btn-primary" type="Submit">Submit</button>
            </form>
        </div>
    </div>
</div>
